:root {
  --primary-color: #13e9a5;
  --secondary-color: #3454D1;
  --letter-color-dark: #303030;
  --letter-color-light: white;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: mundo-sans, arial, helvetica;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: var(--letter-color-dark);
  text-decoration: none;
  white-space: nowrap;
}

p {
  margin: 0;
  color: var(--letter-color-dark);
}

button {
  border: 0;
  font-family: mundo-sans, arial, helvetica;
  background: none;
  white-space: nowrap;
  cursor: pointer;
}

@font-face {
  font-family: 'mundo-sans';
  src: url('./fonts/Mundo Sans Std Regular.otf') format('truetype');
}